*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px 20px;
    font-size:15px;
    padding: 18px;
    
}
#a{
    background-color: rgba(146, 151, 154, 0.285);
    padding: 5px 15px 15px 20px;
    border:1px solid black;
    border-radius: 4px;
}

input[type="email"],input[type="name"],input[type="text"],
input[type="number"],input[type="password"],input[type="date"],
select,textarea
{
   width:100%;
   background-color:white;
   padding:12px;
   border:1px solid black;
   border-radius:5px;
   margin:10px;
}
fieldset{
    background-color: white;
    border:1px solid black;
    padding:12px;
    width: 100%;
    border-radius: 5px;
}
.heading{
    text-align: center;
}
input[type="submit"]{
   
    background-color: rgba(9, 232, 158, 0.808);
    color:white;
    padding: 12px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    width:100%;

}
input[type="submit"]:hover{
    background-color: rgb(26, 185, 90);
}
